
*{
	margin: 0px;
	padding: 0px;
}

html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body{
	background-color: #000000;
}

#canvasContainer{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

canvas{
	margin: auto;
	border: 5px #222222 solid;
}

#renderCanvas{

	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
}
